.clippingBox {
    overflow: clip;
    border: solid;
    border-width: 1px;
}

.scene {
    position: relative;    
    transform-style: preserve-3d;
}

.rectangle {
    position: absolute;
    transform-style: preserve-3d;
}